*{margin: 0;
padding: 0;
}

body{background-color: rgb(233, 228, 228);}

.topo{background-color: rgb(110, 105, 105);
display: flex;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
color:rgb(164, 178, 190)}


.header{display: flex;
justify-content: space-between;
background-color: rgb(163, 149, 149);
padding: 5px;}

a{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.log{
    display:flex;
    align-items: center;
    border:0.9px solid;;
    border-color: rgb(110, 61, 61);}

.log img{width: 100px;}

h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}


.menu{text-align: center;
padding-top: 45px;
border:0.9px solid;
border-color: rgb(110, 61, 61);}

.banner img{width: 100%;
height: 150px;}

h2{text-align: center;}

.break{border-color: black;
border-bottom: 0.8px solid;
margin-bottom: 4px;
background-color: rgb(199, 196, 196);}

.item{text-align: center;
/*background-color: rgb(233, 228, 228);*/
height: 170px;}

.item img{width: 200px;}

.container{width: 100%;
    display: flex;
justify-content: space-around;
/*background-color: rgb(233, 228, 228);*/}

.botoes{display: flex;
flex-direction: column;
width: 50px;
align-items: center;
justify-content: center;
margin-left: 70px;}

#escutar:hover{transition: 1.9s;
background-color:firebrick;
width: 100px;}

#comprar:hover{transition: 1.9s;
background-color:firebrick;
width: 100px;}

#escutar{border-color: rgb(229, 245, 212);
background-color: darkgray;}

#comprar{border-color: chartreuse;
background-color: darkgray;}

.p1 img{height: 100px;}
.p3 img{height: 100px;}


@media (max-width:992px){
   .topo{font-size: 18px;}
   .header{flex-direction: column;}
   .menu{font-size: 20px;}
   .break{font-size: 20px;}
   .banner{display: none;}
    
   .log{width: 280px;
height: 150px;
}
.container{flex-direction: column;
align-items: center;}

.item{height: 200px;
width: 200px;
margin-bottom: 10px;
padding:10px ;
font-size: 2em;
align-items: center;}

.botoes{padding-right: 200px;
    flex-direction: row;}
}

@media (max-width: 576px){
    .container{color: rgb(194, 191, 245)}
    body{background-color: rgb(43, 41, 41);
    h1{font-size: 1.5em}}
}
    
