<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="style.css">
    <title>Layouts</title>
</head>
<body>
<header>
    <div id="logo"><img src="./img/nishiki.png" alt="FOTO"></div>
    <div id="buscar"><form action="">
        <input type="text" placeholder="search code">
    </form></div>
        
</header>


<nav>
    <div id="Container">
        <a class="menu">Home</a>
        <a class="menu">Sobre</a>
        <a class="menu">TenYears</a>
        <a class="menu">InTheJOINT</a>
    </div>

</nav>

<main>

    <section id="section1">

        <article>
            <h1>Curiosidades</h1>
            <div> 
                <img src="./img/nishiki.png" alt="FOTO">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptate illum quo explicabo exercitationem, officia doloribus veritatis recusandae nemo est illo praesentium iure animi culpa debitis aliquam suscipit fuga in!</p>
            </div>
           
        </article>

        <article>
            <h1>Curiosidades</h1>
            <img src="./img/nishiki.png" alt="FOTO">
            <p>Ten Year in The Joint</p>
        </article>
        
    </section>

    <section id="section2">

        <article>
        <div>
            <img src="./img/nishiki.png" alt="FOTO">
            <iframe src="https://www.youtube.com/watch?v=LbObIAIR3sA" Title="Deus Ex : Malkavian Mod Complete Playthrough v0.25 Part 1"></iframe>
        </div>
        </article>
        
        <article>
            <div>
            <img src="./img/nishiki.png" alt="FOTO">
        </div>
        </article>


    </section>


</main>


<footer>

</footer>

</body>
</html>